extends partials/layout.pug

include component/button.pug

block title 
    - var title = "PT GHALIB AGRO NABATI"

block content
    //  ========================= HOME 1 ========================== 
    section.home1
        .container
            .home1__info
                h1.home1__title PT GHALIB AGRO NABATI
                p.home1__desc Distributor Utama Minyak Goreng <br> Kemasan Premium ALIF !
                +button("tentang.html", "Tentang Kami")

            .home1__image 
                img(src=baseURL + "assets/img/banner1.png" alt="" aria-hidden="true")

    //  ========================= HOME 2 ========================== 
    section.home2
        .container
            .home2__image 
                img(src=baseURL + "assets/img/banner2.png" alt="" aria-hidden="true")
            .home2__info
                p.home2__desc Menggunakan prinsip 
                    span.highlight “Bersama Mencari Berkah”
                    br
                    | Menjadikan Kami menjadi usaha yang <br> memiliki kepercayaan di Mata masyarakat
                +button("armada.html", "Armada & Gudang")

    //  ========================= HOME 2 ========================== 
    section.home3
        p.home3__title orang-orang hebat yang bekerja dalam perusahaan kami!
        .container 
            .swiper.home3__teams
                .swiper-wrapper
                    - var i = 1
                    - var n = 15
                    while i <= n
                        .swiper-slide.home3__card
                            img(src=baseURL + "assets/img/team/team" + i++ + ".png" alt="")
                .swiper-button-next
                    i.bx.bxs-right-arrow
                .swiper-button-prev
                    i.bx.bxs-left-arrow
            +button("kontak.html", "Hubungi Kami")




