@mixin button($bgColor, $bgColorAlt) {
    background-color: $bgColor;
    color: $title-color;
    font-family: $main-font;
    font-weight: map-get($map: $font-weights, $key: "semi-bold");
    cursor: pointer;
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
    border-radius: 1.5rem 1.5rem .75rem .75rem;
    box-shadow: 0 0 10px rgba($color: $bgColorAlt, $alpha: .8);

    @content;

    &:hover,
    &:active {
        background-color: $bgColorAlt;
    }
}