.highlight {
    color: $main-color;
    font-weight: map-get($map: $font-weights, $key: "bold");

    @include breakpoints-down("small") {
        & {
            display: inline-block;
        }
    }
}