/* ==================== GOOGLE FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
:root {
  --title-font-size: 2rem;
  --medium-font-size: 1.5rem;
  --subtitle-font-size: 1.35rem;
  --normal-font-size: .938rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 2.85rem;
    --medium-font-size: 1.85rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1.2rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: hsl(240deg, 13%, 60%);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: hsl(252deg, 35%, 19%);
}

h1,
h2 {
  font-size: var(--title-font-size);
}

h3 {
  font-size: var(--subtitle-font-size);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: hsl(0deg, 0%, 100%);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav__logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: hsl(252deg, 35%, 19%);
  font-weight: 600;
}
.header .nav__menu {
  display: flex;
  column-gap: 3rem;
}
.header .nav__list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.header .nav__link {
  color: hsl(240deg, 13%, 60%);
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
.header .nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  width: 0;
}
.header .nav__link:hover {
  color: hsl(252deg, 35%, 19%);
}
@supports (-webkit-text-stroke: 1px black) {
  .header .nav__link:hover {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  }
}
.header .nav__link:hover::after {
  width: 100%;
}
.header .nav__btn {
  background-color: hsl(8deg, 79%, 92%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(249, 207, 200, 0.8);
}
.header .nav__btn:hover, .header .nav__btn:active {
  background-color: hsl(8deg, 79%, 88%);
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  bottom: 20%;
  height: 8px;
}

.home {
  margin-top: 4rem;
}
.home .container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 5.5rem;
  padding-inline: 2rem;
}
.home__title {
  margin-bottom: 1rem;
}
.home__desc {
  margin-bottom: 2rem;
  line-height: 1.8;
}
.home__btn {
  background-color: hsl(45deg, 93%, 58%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(247, 192, 29, 0.8);
  padding-block: 0.75rem;
}
.home__btn:hover, .home__btn:active {
  background-color: hsl(45deg, 93%, 54%);
}
.home__img {
  position: relative;
}
.home__img > img {
  display: block;
  cursor: pointer;
  transition: 0.5s;
}
.home__img > img:hover {
  filter: brightness(50%);
}
.home__play {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: hsl(8deg, 79%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}
.home__play:hover + img {
  filter: brightness(50%);
}

/*# sourceMappingURL=main.css.map */
