@charset "UTF-8";
/* ==================== GOOGLE FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
:root {
  --title-font-size: 2rem;
  --subtitle-font-size: 1.35rem;
  --medium-font-size: 1.285rem;
  --normal-font-size: .938rem;
  --small-font-size: .825rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 2.85rem;
    --subtitle-font-size: 1.785rem;
    --medium-font-size: 1.585rem;
    --normal-font-size: 1.185rem;
    --small-font-size: 1rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: hsl(240deg, 13%, 60%);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: hsl(252deg, 35%, 19%);
}

h1,
h2 {
  font-size: var(--title-font-size);
}

h3 {
  font-size: var(--subtitle-font-size);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: hsl(0deg, 0%, 100%);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav__logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: hsl(252deg, 35%, 19%);
  font-weight: 600;
}
.header .nav__menu {
  display: flex;
  column-gap: 3rem;
}
.header .nav__list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
.header .nav__link {
  color: hsl(240deg, 13%, 60%);
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
.header .nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  width: 0;
}
.header .nav__link:hover {
  color: hsl(252deg, 35%, 19%);
}
@supports (-webkit-text-stroke: 1px black) {
  .header .nav__link:hover {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  }
}
.header .nav__link:hover::after {
  width: 100%;
}
.header .nav__btn {
  background-color: hsl(8deg, 79%, 92%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(249, 207, 200, 0.8);
}
.header .nav__btn:hover, .header .nav__btn:active {
  background-color: hsl(8deg, 79%, 88%);
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  bottom: 20%;
  height: 8px;
}

.play {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: hsl(8deg, 79%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}
.play:hover {
  background-color: hsl(8deg, 79%, 88%);
}
.play:hover + img {
  filter: brightness(50%);
}

.home {
  margin-top: 4rem;
}
.home .container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 8rem 11rem;
  padding-inline: 2rem;
}
.home__title {
  margin-bottom: 1rem;
}
.home__desc {
  margin-bottom: 2rem;
  line-height: 1.8;
}
.home__btn {
  background-color: hsl(45deg, 93%, 58%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(247, 192, 29, 0.8);
  padding-block: 0.75rem;
}
.home__btn:hover, .home__btn:active {
  background-color: hsl(45deg, 93%, 54%);
}
.home__img {
  position: relative;
}
.home__img > img {
  display: block;
  cursor: pointer;
  transition: 0.5s;
}
.home__img > img:hover {
  filter: brightness(50%);
}

.features {
  padding-block: 4.5rem 6.5rem;
  text-align: center;
}
.features__tabs {
  margin-block: 2.5rem 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
}
.features__tab {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-size: var(--normal-font-size);
  position: relative;
}
.features__tab::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: rgba(248, 198, 48, 0.65);
  border-radius: 0.25rem;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.5s;
}
.features__tab.active, .features__tab:hover {
  color: hsl(45deg, 93%, 58%);
}
@supports (-webkit-text-stroke: 1px black) {
  .features__tab.active, .features__tab:hover {
    -webkit-text-stroke: 1px rgba(248, 198, 48, 0.65);
  }
}
.features__tab.active::after, .features__tab:hover::after {
  transform: translateX(-50%) scale(1);
}
.features__cards {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2.5rem;
}
.features__cards:not(:first-child) {
  display: none;
}
.features__card {
  border-radius: 0 0 1.5rem 1.5rem;
  transition: 0.3s;
}
.features__card:hover {
  box-shadow: 0 2px 10px rgba(38, 31, 65, 0.065);
}
.features__card:hover .play {
  transform: translate(-50%, -50%) scale(1);
}
.features__card:hover .features__card-img > img {
  filter: brightness(50%);
}
.features__card-img {
  max-width: 255px;
  position: relative;
}
.features__card-img img {
  transition: 0.3s;
}
.features__card-content {
  padding-block: 1.5rem;
}
.features__card-creator {
  margin-block: 0.5rem 1rem;
  font-size: var(--small-font-size);
}
.features__card .play {
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

.testimonial {
  padding-block: 4.5rem;
  overflow: hidden;
}
.testimonial__content-testi {
  margin-inline: auto;
  text-align: center;
  color: hsl(252deg, 35%, 19%);
  font-size: var(--medium-font-size);
  width: 35ch;
  position: relative;
  line-height: 1.6;
}
.testimonial__content-testi::before {
  content: "“";
  font-size: 50rem;
  position: absolute;
  top: 0;
  left: -30%;
  line-height: 0.5;
  color: hsl(0deg, 0%, 95%);
  z-index: -1;
}
.testimonial__content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-block: 2.5rem 4.5rem;
}
.testimonial__content-job {
  margin-top: 0.25rem;
  font-size: var(--small-font-size);
}
.testimonial__statistic {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 50vw;
  margin-inline: auto;
}
.testimonial__statistic-number {
  font-size: var(--medium-font-size);
  color: hsl(252deg, 35%, 19%);
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.testimonial__statistic-text {
  font-size: var(--small-font-size);
}

/*# sourceMappingURL=main.css.map */
