@charset "UTF-8";
/* ==================== GOOGLE FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
:root {
  --title-font-size: 2rem;
  --subtitle-font-size: 1.35rem;
  --medium-font-size: 1.285rem;
  --normal-font-size: .938rem;
  --small-font-size: .825rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 2.85rem;
    --subtitle-font-size: 1.785rem;
    --medium-font-size: 1.585rem;
    --normal-font-size: 1.185rem;
    --small-font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  :root {
    --title-font-size: 1.675rem;
    --subtitle-font-size: 1.35rem;
    --medium-font-size: 1.15rem;
    --normal-font-size: .898rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: hsl(240deg, 13%, 60%);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: hsl(252deg, 35%, 19%);
}

h1,
h2 {
  font-size: var(--title-font-size);
}

h3 {
  font-size: var(--subtitle-font-size);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==================== SCROLL BAR ===================== */
::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 0.5rem;
  background-color: hsl(45deg, 93%, 95%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(45deg, 93%, 55%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(45deg, 93%, 65%);
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-inline: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin-inline: 1.5rem;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: hsl(0deg, 0%, 100%);
}
.header.scroll-header {
  box-shadow: 0 2px 8px rgba(38, 31, 65, 0.085);
  transition: 0.3s;
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .nav__menu {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .nav__menu {
    column-gap: 1rem;
  }
}
.header .nav__list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .nav__list {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    row-gap: 1.5rem;
    z-index: 100;
    background-color: hsl(0deg, 0%, 100%);
    width: 60vw;
    border-radius: 1.5rem;
    padding-block: 0.5rem 1.5rem;
    font-size: 1.065rem;
    box-shadow: 0 0 10px rgba(38, 31, 65, 0.085);
    transition: 0.3s;
  }
  .header .nav__list.active-menu {
    top: 5.5rem;
  }
}
@media screen and (max-width: 375px) {
  .header .nav__list {
    width: 80%;
  }
}
.header .nav__link {
  color: hsl(240deg, 13%, 60%);
  text-transform: capitalize;
  position: relative;
  transition: 0.3s;
}
.header .nav__link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  width: 0;
}
.header .nav__link:hover, .header .nav__link.active-link {
  color: hsl(252deg, 35%, 19%);
}
@supports (-webkit-text-stroke: 1px black) {
  .header .nav__link:hover, .header .nav__link.active-link {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  }
}
.header .nav__link:hover::after, .header .nav__link.active-link::after {
  width: 100%;
}
.header .nav__btn {
  background-color: hsl(8deg, 79%, 92%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(249, 207, 200, 0.8);
}
.header .nav__btn:hover, .header .nav__btn:active {
  background-color: hsl(8deg, 79%, 88%);
}
@media screen and (max-width: 375px) {
  .header .nav__btn {
    display: none;
  }
}
.header .nav__toggle {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .nav__toggle {
    display: flex;
    font-size: 1.25rem;
    color: hsl(252deg, 35%, 19%);
    cursor: pointer;
    transition: 0.3s;
  }
  .header .nav__toggle:hover, .header .nav__toggle.active-toggle {
    color: hsl(45deg, 93%, 54%);
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-inline: auto;
}
@media screen and (max-width: 568px) {
  .footer .container {
    grid-template-columns: repeat(1, max-content);
    justify-content: center;
    text-align: center;
    gap: 3.5rem;
  }
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 6.5rem;
  padding-bottom: 3.5rem;
}
@media screen and (max-width: 768px) {
  .footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 3.5rem;
  }
}
@media screen and (max-width: 375px) {
  .footer__content {
    grid-template-columns: repeat(1, max-content);
    row-gap: 2.5rem;
  }
}
.footer__title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}
.footer__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.footer__link {
  font-size: var(--small-font-size);
  color: hsl(240deg, 13%, 60%);
  transition: 0.3s;
}
.footer__link:hover {
  color: hsl(252deg, 35%, 19%);
  text-decoration: underline;
}
.footer__info {
  text-align: center;
  padding-block: 1.5rem;
  border-top: 1px solid hsl(0deg, 0%, 90%);
}
.footer__copy {
  font-size: var(--small-font-size);
}
.footer__copy-link {
  color: hsl(45deg, 93%, 58%);
  font-weight: 700;
  text-decoration: 2px underline dashed;
  text-underline-offset: 0.15rem;
}
@media screen and (max-width: 768px) {
  .footer .logo {
    align-self: flex-start;
  }
}
@media screen and (max-width: 568px) {
  .footer .logo {
    margin-inline: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: hsl(252deg, 35%, 19%);
  font-weight: 600;
}

.highlight {
  position: relative;
}

.highlight::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: hsl(8deg, 79%, 92%);
  border-radius: 2.5rem;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  transition: 0.5s;
  bottom: 20%;
  height: 8px;
}

.play {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: hsl(8deg, 79%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 10;
}
.play:hover {
  background-color: hsl(8deg, 79%, 88%);
}
.play:hover + img {
  filter: brightness(50%);
}

.home {
  margin-top: 4rem;
}
.home .container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 8rem 11rem;
  padding-inline: 2rem;
}
@media screen and (max-width: 768px) {
  .home .container {
    grid-template-columns: repeat(1, 70vw);
    justify-content: center;
    text-align: center;
    row-gap: 4.5rem;
    padding-block: 5rem 4.5rem;
  }
}
@media screen and (max-width: 375px) {
  .home .container {
    padding-inline: 0;
    grid-template-columns: repeat(1, 1fr);
  }
}
.home__title {
  margin-bottom: 1rem;
}
.home__desc {
  margin-bottom: 2rem;
  line-height: 1.8;
}
.home__btn {
  background-color: hsl(45deg, 93%, 58%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem 1.5rem 0.75rem 0.75rem;
  box-shadow: 0 0 10px rgba(247, 192, 29, 0.8);
  padding-block: 0.75rem;
}
.home__btn:hover, .home__btn:active {
  background-color: hsl(45deg, 93%, 54%);
}
.home__img {
  position: relative;
}
.home__img > img {
  display: block;
  cursor: pointer;
  transition: 0.5s;
}
.home__img > img:hover {
  filter: brightness(50%);
}

.features {
  padding-block: 4.5rem 6.5rem;
  text-align: center;
}
.features__tabs {
  margin-block: 2.5rem 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3.5rem;
}
@media screen and (max-width: 375px) {
  .features__tabs {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.5rem 2.5rem;
    margin-bottom: 3.5rem;
  }
}
.features__tab {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(252deg, 35%, 19%);
  font-family: "Quicksand", sans-serif;
  font-size: var(--normal-font-size);
  position: relative;
}
.features__tab::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  background-color: rgba(248, 198, 48, 0.65);
  border-radius: 0.25rem;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: 0.5s;
}
.features__tab.active, .features__tab:hover {
  color: hsl(45deg, 93%, 58%);
}
@supports (-webkit-text-stroke: 1px black) {
  .features__tab.active, .features__tab:hover {
    -webkit-text-stroke: 1px rgba(248, 198, 48, 0.65);
  }
}
.features__tab.active::after, .features__tab:hover::after {
  transform: translateX(-50%) scale(1);
}
.features__cards {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 2.5rem;
}
.features__cards:not(:first-child) {
  display: none;
}
@media screen and (max-width: 1024px) {
  .features__cards {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .features__cards {
    grid-template-columns: repeat(2, max-content);
    column-gap: 4.5rem;
  }
}
@media screen and (max-width: 568px) {
  .features__cards {
    gap: 2rem;
  }
}
@media screen and (max-width: 375px) {
  .features__cards {
    grid-template-columns: repeat(1, max-content);
  }
}
.features__card {
  border-radius: 0 0 1.5rem 1.5rem;
  transition: 0.3s;
}
.features__card:hover {
  box-shadow: 0 2px 10px rgba(38, 31, 65, 0.065);
}
.features__card:hover .play {
  transform: translate(-50%, -50%) scale(1);
}
.features__card:hover .features__card-img > img {
  filter: brightness(50%);
}
.features__card-img {
  max-width: 255px;
  position: relative;
}
.features__card-img img {
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .features__card-img {
    max-width: 200px;
  }
}
.features__card-content {
  padding-block: 1.5rem;
}
.features__card-creator {
  margin-block: 0.5rem 1rem;
  font-size: var(--small-font-size);
}
.features__card .play {
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
}

.testimonial {
  padding-block: 4.5rem;
  overflow: hidden;
}
.testimonial__content-testi {
  margin-inline: auto;
  text-align: center;
  color: hsl(252deg, 35%, 19%);
  font-size: var(--medium-font-size);
  width: 35ch;
  position: relative;
  line-height: 1.6;
}
.testimonial__content-testi::before {
  content: "“";
  font-size: 50rem;
  position: absolute;
  top: 0;
  left: -30%;
  line-height: 0.5;
  color: hsl(0deg, 0%, 95%);
  z-index: -1;
}
@media screen and (max-width: 375px) {
  .testimonial__content-testi {
    width: 25ch;
  }
}
.testimonial__content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-block: 2.5rem 4.5rem;
}
.testimonial__content-job {
  margin-top: 0.25rem;
  font-size: var(--small-font-size);
}
.testimonial__statistic {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 50vw;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .testimonial__statistic {
    width: 80vw;
  }
}
@media screen and (max-width: 568px) {
  .testimonial__statistic {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 2rem;
  }
}
.testimonial__statistic-number {
  font-size: var(--medium-font-size);
  color: hsl(252deg, 35%, 19%);
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.testimonial__statistic-text {
  font-size: var(--small-font-size);
}

.contest {
  padding-block: 4.5rem 8.5rem;
}
.contest .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-inline: auto;
}
.contest__desc {
  line-height: 1.8;
  margin-block: 1rem 2.5rem;
}
.contest__btns {
  display: flex;
  column-gap: 1rem;
}
.contest__btns img {
  border-radius: 2.5rem;
  display: inline-block;
}
@media screen and (max-width: 375px) {
  .contest__btns {
    flex-direction: column;
    row-gap: 1rem;
  }
  .contest__btns a:first-child {
    order: 2;
  }
}
@media screen and (max-width: 768px) {
  .contest__img {
    display: none;
  }
  .contest .container {
    width: max-content;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
