.play {
    @include box(55px, 55px, 50%);
    background-color: $second-color;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: map-get($map: $z-indexes, $key: "tooltip");

    &:hover {
        background-color: $second-color-alt;

        &+img {
            filter: brightness(50%);
        }
    }
}