.about {
    padding-block: 2.5rem 5.5rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        max-width: 500px;
    }

    &__info {
        text-align: right;
        align-self: center;
    }

    &__title {
        font-size: var(--subtitle-font-size);
    }

    &__desc {
        width: 46ch;
        margin-block: 1.5rem;
        line-height: 1.65;
    }
}

/* ==================== DOCUMENTATION ===================== */
.documentation {
    background-color: hsl(207, 100%, 89%);
    padding-block: 3.5rem;

    &__title {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        grid-auto-columns: minmax(330px, 1fr);
        grid-auto-rows: 1fr;
        column-gap: 2rem;
        grid-auto-flow: column;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-left: 3.5rem;
        padding-block: 2.5rem;
        cursor: grab;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    &__img {
        border-radius: .5rem;
        box-shadow: 0px 15px 40px rgba($color: #7090B0, $alpha: .15);
    }
}

/* ==================== LOCATION ===================== */
.location {
    padding-block: 4.5rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        margin-bottom: 2.5rem;
    }

    &__info-title {
        margin-bottom: 1.5rem;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;
        column-gap: .5rem;
        text-align: center;
        max-width: fit-content;
        margin-inline: auto;
    }

    &__map {
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba($color: #7090B0, $alpha: .15);
        margin-bottom: 2.5rem;

        iframe {
            display: block;
        }
    }
}