/* ==================== HOME ===================== */
.home {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 85vh;
    }

    .home__info {
        padding-left: 2.5rem;
    }

    .home__title {
        font-size: var(--title-font-size);
        margin-bottom: 1rem;

        span {
            position: relative;

            &::after {
                @include box(40px, 20px);
                content: "";
                position: absolute;
                top: -5%;
                left: 50%;
                transform: translateX(-50%);
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                border: 5px solid $main-color;
                border-bottom: none;
            }
        }
    }

    .home__desc {
        width: 32ch;
        line-height: 1.6;
        margin-bottom: 2rem;
    }

    .home__form {
        &-label {
            font-weight: map-get($map: $font-weights, $key: "semi-bold");
            display: inline-block;
            margin-bottom: .5rem;
        }

        &-track {
            display: flex;
            column-gap: 1rem;
            align-items: center;
        }

        &-input {
            border: 1px solid hsl(233, 19%, 82%);
            color: $text-color;
            box-shadow: 0px 15px 40px rgba($color: #7090B0, $alpha: .15);
        }

        &-btn {
            background-color: $main-color;
            color: $white-color;
            border: none;

            font-weight: map-get($map: $font-weights, $key: "semi-bold");
            letter-spacing: .85px;
            cursor: pointer;
        }

        &-input,
        &-btn {
            outline: none;
            padding: .75rem 1rem;
            border-radius: .5rem;
        }
    }

    &__image {
        max-width: 450px;

        img {
            border-radius: .85rem;
            box-shadow: 0px 10px 30px rgba($color: #7090B0, $alpha: .15);
        }
    }
}

/* ==================== SERVICE ===================== */
.service {
    padding-block: 4.5rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle {
        color: $main-color;
        font-weight: map-get($map: $font-weights, $key: "medium");
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }

    &__card {
        display: flex;
        column-gap: 1.5rem;

        &-icon {
            @include box(45px, 45px, .5rem);
            border-width: 2px;
            border-style: solid;
            margin-top: .5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }

        &-desc {
            margin-top: .5rem;
            width: 25ch;
            color: hsl(0, 0%, 48%);
        }
    }
}

/* ==================== HOME ABOUT ===================== */
.home-about {
    background-color: hsl(207, 100%, 89%);
    padding-block: 4.5rem 3.5rem;

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    &__image {
        max-width: 450px;
    }

    &__info {
        text-align: right;
        align-self: center;
    }

    &__title {
        font-size: var(--subtitle-font-size);
    }

    &__desc {
        width: 46ch;
        margin-block: 1.5rem 2.5rem;
        line-height: 1.85;
    }

    &__btn {
        background-color: hsl(209, 100%, 65%);
        color: $white-color;
        padding: .5rem 1rem;
        border-radius: .5rem;
        box-shadow: 0px 15px 40px rgba($color: #7090B0, $alpha: .15);
    }
}

/* ==================== TEAMS ===================== */
.teams {
    padding-block: 6.5rem;

    &__title {
        text-align: center;
        margin-bottom: 3.5rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 2rem;
    }

    &__card {
        text-align: center;
        border-radius: .5rem;
        box-shadow: 0px 15px 40px rgba($color: #7090B0, $alpha: .15);
        padding-top: 2.5rem;

        &-avatar {
            @include box(100px, 100px, 50%);
            background-color: $main-color;
            margin-inline: auto;
            overflow: hidden;
            margin-bottom: 1.5rem;

            img {
                transform: scale(1.2) translateY(10%);
            }
        }

        &-name {
            margin-bottom: .5rem;
            font-weight: map-get($map: $font-weights, $key: "medium");

        }

        &-job {
            font-family: $second-font;
            text-transform: uppercase;
            color: $gray-color;
            letter-spacing: 2px;
            font-size: var(--small-font-size);
        }

        &-icons {
            display: flex;
            margin-top: 2.5rem;
            border-top: 2px solid hsl(200, 21%, 89%);
        }

        &-icon {
            flex: 50%;
            padding-block: 1rem;

            a {
                color: $main-color;
            }

            &:first-child {
                border-right: 2px solid hsl(200, 21%, 89%);
            }
        }

        &:nth-child(5) {
            img {
                transform: translateY(10%) translateX(5%);
            }
        }
    }
}