.tracking {
    padding-block: 4.5rem;

    &__info {
        width: 45vw;
        margin-inline: auto;
        text-align: center;
        background-color: $white-color;
        box-shadow: 0px 15px 40px rgba($color: #7090B0, $alpha: .15);
        padding: 1.5rem 2.5rem;
        border-radius: .85rem;

        &-title {
            font-size: calc(var(--normal-font-size) + .25rem);
            margin-bottom: 2.25rem;
        }

        &-item {
            font-size: var(--normal-font-size);
            display: flex;
            margin-bottom: .85rem;
            color: $gray-color;

            span {
                margin-left: auto;
                color: $text-color;
                font-weight: map-get($map: $font-weights, $key: "semi-bold");
            }
        }
    }
}