$main-color: hsl(141, 38%, 40%);
$text-color: hsl(0, 0%, 5%);
$white-color: hsl(0, 0%, 100%);

$scroll-color: hsl(141, 38%, 90%);
$scroll-thumb-color: hsl(141, 38%, 35%);
$scroll-thumb-hover-color: hsl(141, 38%, 40%);