/* ==================== FONTS ===================== */
@font-face {
    src: url("../fonts/Product-Sans-Regular.ttf") format("truetype");

    font-family: "Product-Sans";
    font-weight: 400;
}

@font-face {
    src: url("../fonts/Product-Sans-Bold.ttf") format("truetype");

    font-family: "Product-Sans";
    font-weight: 700;
}

$main-font: "Product-Sans",
sans-serif;

// FONT SIZE
:root {
    --title-font-size: 2rem;
    --subtitle-font-size: 1.5rem;
    --normal-font-size: 1.185rem;
    --navLink-font-size: 1.125rem;
    --small-font-size: .785rem;
    --smaller-font-size: .585rem;
}

@media screen and (min-width: 1024px) {
    :root {
        --title-font-size: 2.5rem;
        --subtitle-font-size: 2rem;
        --normal-font-size: 1.315rem;
        --navLink-font-size: 1.215rem;
        --small-font-size: .985rem;
        --smaller-font-size: .785rem;
    }
}

@media screen and (max-width: 568px) {
    :root {
        --title-font-size: 1.675rem;
        --subtitle-font-size: 1.325rem;
        --navLink-font-size: 1.15rem;
        --normal-font-size: 1.015rem;
        --small-font-size: .835rem;
    }
}

@media screen and (max-width: 375px) {
    :root {
        --title-font-size: 1.475rem;
    }
}

@media screen and (max-width: 320px) {
    :root {
        --title-font-size: 1.325rem;
        --subtitle-font-size: 1.285rem;
    }
}

// FONT WEIGHT
$font-weights: ("regular": 400, "medium": 500, "semi-bold": 600, "bold": 700);