footer.footer
    .container
        div
            img(src=baseURL + "assets/img/logo-white.png" alt="PT Bahtera Karunia Mandiri" loading="lazy").footer__logo
            p.footer__copy Copyright © 2022. <br> All Rights Reserved.
        .footer__menus 
            each fm in footerMenus
                div 
                    p.footer__title= fm.title
                    ul.footer__menu  
                        each m in fm.menus 
                            li.footer__item 
                                unless fm.isSosmed
                                    =m 
                                else 
                                    a.footer__link(href="#" target="_blank" rel="noopener noreferrer")= m  