header#header 
    nav.nav 
        .container 
            a.nav__logo(href="/" aria-label="BKM") 
                img(src=baseURL + "assets/img/logo.png" alt="logo BKM")
            .nav__menu#nav-menu 
                ul.nav__list 
                    each nl in navLinks
                        li.nav__item 
                            a.nav__link= nl
