header#header.header
    nav.nav 
        .container 
            a.nav__logo(href=baseURL aria-label="BKM") 
                img(src=baseURL + "assets/img/logo.png" alt="logo BKM")
            .nav__menu#nav-menu 
                ul.nav__list 
                    each nl in navLinks
                        li.nav__item 
                            a(href=baseURL + "pages/" + nl.link).nav__link= nl.text
