.home {
    margin-top: $header-height;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding-block: 5.5rem;
        padding-inline: 2rem;
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__desc {
        margin-bottom: 2rem;
        line-height: 1.8;
    }

    &__btn {
        @include button($first-color, $first-color-alt) {
            padding-block: .75rem;
        }
    }

    &__img {
        position: relative;

        &>img {
            display: block;
            cursor: pointer;
            transition: .5s;

            &:hover {
                filter: brightness(50%);
            }
        }
    }

    &__play {
        @include box(55px, 55px, 50%);
        background-color: $second-color;
        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: map-get($map: $z-indexes, $key: "tooltip");

        &:hover {
            background-color: $second-color-alt;

            &+img {
                filter: brightness(50%);
            }
        }
    }
}