.home {
    margin-top: $header-height;

    .container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        padding-block: 8rem 11rem;
        padding-inline: 2rem;

        @include breakpoints-down('tablet') {
            & {
                grid-template-columns: repeat(1, 70vw);
                justify-content: center;
                text-align: center;
                row-gap: 4.5rem;
                padding-block: 5rem 4.5rem;
            }
        }

        @include breakpoints-down('small') {
            & {
                padding-inline: 0;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &__title {
        margin-bottom: 1rem;
    }

    &__desc {
        margin-bottom: 2rem;
        line-height: 1.8;
    }

    &__btn {
        @include button($first-color, $first-color-alt) {
            padding-block: .75rem;
        }
    }

    &__img {
        position: relative;

        &>img {
            display: block;
            cursor: pointer;
            transition: .5s;

            &:hover {
                filter: brightness(50%);
            }
        }
    }
}