.footer {
    .container {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin-inline: auto;

        @include breakpoints-down('medium') {
            & {
                grid-template-columns: repeat(1, max-content);
                justify-content: center;
                text-align: center;
                gap: 3.5rem;
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 6.5rem;
        padding-bottom: 3.5rem;

        @include breakpoints-down('tablet') {
            & {
                grid-template-columns: repeat(2, max-content);
                gap: 3.5rem;
            }
        }
    }

    &__title {
        font-size: var(--normal-font-size);
        margin-bottom: 1rem;
    }

    &__item:not(:last-child) {
        margin-bottom: .5rem;
    }

    &__link {
        font-size: var(--small-font-size);
        color: $text-color;
        transition: .3s;

        &:hover {
            color: $title-color;
            text-decoration: underline;
        }
    }

    &__info {
        text-align: center;
        padding-block: 1.5rem;
        border-top: 1px solid hsl(0, 0%, 90%);
    }

    &__copy {
        font-size: var(--small-font-size);

        &-link {
            color: $first-color;
            font-weight: map-get($map: $font-weights, $key: "bold");
            text-decoration: 2px underline dashed;
            text-underline-offset: .15rem;
        }
    }

    .logo {
        @include breakpoints-down('tablet') {
            & {
                align-self: flex-start;
            }
        }

        @include breakpoints-down('medium') {

            & {
                margin-inline: auto;
            }
        }
    }
}