/* ==================== FONTS ===================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;
  --normal-font-size: 1.185rem;
  --navLink-font-size: 1.125rem;
  --small-font-size: .785rem;
  --smaller-font-size: .585rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 2.85rem;
    --subtitle-font-size: 2.25rem;
    --normal-font-size: 1.215rem;
    --navLink-font-size: 1.215rem;
    --small-font-size: .985rem;
    --smaller-font-size: .825rem;
  }
}
@media screen and (max-width: 568px) {
  :root {
    --title-font-size: 1.675rem;
    --subtitle-font-size: 1.325rem;
    --navLink-font-size: 1.15rem;
    --normal-font-size: 1.015rem;
    --small-font-size: .835rem;
  }
}
@media screen and (max-width: 400px) {
  :root {
    --title-font-size: 1.475rem;
    --navLink-font-size: 1.015rem;
    --normal-font-size: .985rem;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --title-font-size: 1.325rem;
    --subtitle-font-size: 1.285rem;
    --navLink-font-size: 1rem;
    --normal-font-size: .925rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: hsl(0deg, 0%, 25%);
  background-color: hsl(220deg, 100%, 98%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==================== REMOVE ARROW INPUT NUMBER ===================== */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}

/* ==================== REUSABLE CLASS ===================== */
/* ==================== SCROLL BAR ===================== */
.border--red {
  border-color: hsl(3deg, 73%, 59%);
}

.border--yellow {
  border-color: hsl(37deg, 99%, 61%);
}

.border--green {
  border-color: hsl(120deg, 75%, 40%);
}

.border--blue {
  border-color: hsl(227deg, 80%, 55%);
}

.text--green {
  color: hsl(120deg, 75%, 40%) !important;
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-inline: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin-inline: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  background-color: hsl(220deg, 100%, 98%);
}
.header .nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}
.header .nav .nav__list {
  display: flex;
  column-gap: 2rem;
  font-size: var(--navLink-font-size);
}
.header .nav .nav__link {
  color: hsl(0deg, 0%, 75%);
  transition: 0.3s;
}
.header .nav .nav__link:hover {
  color: hsl(247deg, 74%, 64%);
}

main {
  margin-top: 4.5rem;
}

.footer {
  background-color: hsl(227deg, 17%, 16%);
  padding-block: 4.5rem 5.5rem;
  color: hsl(0deg, 0%, 98%);
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-size: var(--smaller-font-size);
  line-height: 2;
}
.footer__menus {
  display: grid;
  grid-template-columns: repeat(3, fit-content(100%));
  column-gap: 3.5rem;
}
.footer__title {
  margin-bottom: 1rem;
}
.footer__item, .footer__link {
  color: hsl(240deg, 1%, 64%);
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}
.footer__item:hover, .footer__link:hover {
  color: hsl(0deg, 0%, 98%);
}

/* ==================== HOME ===================== */
.home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85vh;
}
.home .home__info {
  padding-left: 2.5rem;
}
.home .home__title {
  font-size: var(--title-font-size);
  margin-bottom: 1rem;
}
.home .home__title span {
  position: relative;
}
.home .home__title span::after {
  width: 40px;
  height: 20px;
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border: 5px solid hsl(247deg, 74%, 64%);
  border-bottom: none;
}
.home .home__desc {
  width: 32ch;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.home .home__form-label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.home .home__form-track {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.home .home__form-input {
  border: 1px solid hsl(233deg, 19%, 82%);
  color: hsl(0deg, 0%, 25%);
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
}
.home .home__form-btn {
  background-color: hsl(247deg, 74%, 64%);
  color: hsl(0deg, 0%, 98%);
  border: none;
  font-weight: 600;
  letter-spacing: 0.85px;
  cursor: pointer;
}
.home .home__form-input, .home .home__form-btn {
  outline: none;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.home__image {
  max-width: 450px;
}
.home__image img {
  border-radius: 0.85rem;
  box-shadow: 0px 10px 30px rgba(112, 144, 176, 0.15);
}

/* ==================== SERVICE ===================== */
.service {
  padding-block: 4.5rem;
}
.service .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service__subtitle {
  color: hsl(247deg, 74%, 64%);
  font-weight: 500;
}
.service__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.service__card {
  display: flex;
  column-gap: 1.5rem;
}
.service__card-icon {
  width: 45px;
  height: 45px;
  border-radius: 0.5rem;
  border-width: 2px;
  border-style: solid;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__card-icon img {
  width: 60%;
}
.service__card-desc {
  margin-top: 0.5rem;
  width: 25ch;
  color: hsl(0deg, 0%, 48%);
}

/* ==================== HOME ABOUT ===================== */
.home-about {
  background-color: hsl(207deg, 100%, 89%);
  padding-block: 4.5rem 3.5rem;
}
.home-about .container {
  display: flex;
  justify-content: space-evenly;
}
.home-about__image {
  max-width: 450px;
}
.home-about__info {
  text-align: right;
  align-self: center;
}
.home-about__title {
  font-size: var(--subtitle-font-size);
}
.home-about__desc {
  width: 46ch;
  margin-block: 1.5rem 2.5rem;
  line-height: 1.85;
}
.home-about__btn {
  background-color: hsl(209deg, 100%, 65%);
  color: hsl(0deg, 0%, 98%);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
}

/* ==================== TEAMS ===================== */
.teams {
  padding-block: 6.5rem;
}
.teams__title {
  text-align: center;
  margin-bottom: 3.5rem;
}
.teams__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
}
.teams__card {
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
  padding-top: 2.5rem;
}
.teams__card-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: hsl(247deg, 74%, 64%);
  margin-inline: auto;
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.teams__card-avatar img {
  transform: scale(1.2) translateY(10%);
}
.teams__card-name {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.teams__card-job {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 75%);
  letter-spacing: 2px;
  font-size: var(--small-font-size);
}
.teams__card-icons {
  display: flex;
  margin-top: 2.5rem;
  border-top: 2px solid hsl(200deg, 21%, 89%);
}
.teams__card-icon {
  flex: 50%;
  padding-block: 1rem;
}
.teams__card-icon a {
  color: hsl(247deg, 74%, 64%);
}
.teams__card-icon:first-child {
  border-right: 2px solid hsl(200deg, 21%, 89%);
}
.teams__card:nth-child(5) img {
  transform: translateY(10%) translateX(5%);
}

/* ==================== CLIENTS ===================== */
.clients {
  padding-block: 6.5rem;
}
.clients__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.clients__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-columns: minmax(330px, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  grid-auto-flow: column;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 3.5rem;
  padding-block: 2.5rem;
  cursor: grab;
}
.clients__cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.clients__card {
  text-align: center;
  box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.15);
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.clients__card-image img {
  display: block;
  margin-inline: auto;
  height: 120px;
}
.clients__card-name {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
}
.clients__card-location {
  color: hsl(0deg, 0%, 75%);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.65;
}

/* ==================== CONTACT ===================== */
.contact {
  background-color: hsl(247deg, 74%, 64%);
  color: hsl(0deg, 0%, 98%);
  padding-block: 4.5rem;
}
.contact .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact__title {
  margin-bottom: 2.5rem;
}
.contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  column-gap: 0.5rem;
}
.contact__map {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.15);
}
.contact__map iframe {
  display: block;
}

.about {
  padding-block: 2.5rem 5.5rem;
}
.about .container {
  display: flex;
  justify-content: space-between;
}
.about__image {
  max-width: 500px;
}
.about__info {
  text-align: right;
  align-self: center;
}
.about__title {
  font-size: var(--subtitle-font-size);
}
.about__desc {
  width: 46ch;
  margin-block: 1.5rem;
  line-height: 1.65;
}

/* ==================== DOCUMENTATION ===================== */
.documentation {
  background-color: hsl(207deg, 100%, 89%);
  padding-block: 3.5rem;
}
.documentation__title {
  text-align: center;
  margin-bottom: 1rem;
}
.documentation__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-auto-columns: minmax(330px, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2rem;
  grid-auto-flow: column;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-left: 3.5rem;
  padding-block: 2.5rem;
  cursor: grab;
}
.documentation__cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.documentation__img {
  border-radius: 0.5rem;
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
}

/* ==================== LOCATION ===================== */
.location {
  padding-block: 4.5rem;
}
.location .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.location__title {
  margin-bottom: 2.5rem;
}
.location__info-title {
  margin-bottom: 1.5rem;
}
.location__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  column-gap: 0.5rem;
  text-align: center;
  max-width: fit-content;
  margin-inline: auto;
}
.location__map {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.15);
  margin-bottom: 2.5rem;
}
.location__map iframe {
  display: block;
}

/* ==================== OFFICE ===================== */
.office {
  background-color: hsl(207deg, 100%, 89%);
  padding-block: 5.5rem;
}
.office__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.office__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-block: 2.5rem;
}
.office__img {
  border-radius: 0.5rem;
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
}

.tracking {
  padding-block: 4.5rem;
}
.tracking__info {
  width: 45vw;
  margin-inline: auto;
  text-align: center;
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: 0px 15px 40px rgba(112, 144, 176, 0.15);
  padding: 1.5rem 2.5rem;
  border-radius: 0.85rem;
}
.tracking__info-title {
  font-size: calc(var(--normal-font-size) + 0.25rem);
  margin-bottom: 2.25rem;
}
.tracking__info-item {
  font-size: var(--normal-font-size);
  display: flex;
  margin-bottom: 0.85rem;
  color: hsl(0deg, 0%, 75%);
}
.tracking__info-item span {
  margin-left: auto;
  color: hsl(0deg, 0%, 25%);
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
