/* === GOOGL FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/* === CSS VARIABLES === */
:root {
    /* == TYPOGRAPHY == */

    /* Font Family */
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;

    /* Font Weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBold: 600;
    --fw-bold: 700;

    /* == COLORS == */
    --c-white: white;
    --c-black: black;
    --c-purple: #5703B9;
    --c-violet: #7C11EA;
    --c-gray: #C8D3DC;
    --c-purple-text: #6736dd;

    /* == Z-index == */
    --z-back: -1;
    --z-normal: 0;
    --z-front: 1;
    --z-frontWard: 10;
    --z-fixed: 100;
}

/* === BASE CSS === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* === HEADER === */
header {
    display: flex;
    padding: 1rem 2rem;
    height: 7rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    font-family: var(--ff-roboto);
    z-index: var(--z-fixed);
}

.logo {
    align-self: flex-end;
    max-width: 200px;
}

/* == NAV == */
nav {
    align-self: flex-start;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.nav__list .nav__item:nth-child(3) {
    position: relative;
}

.nav__link {
    color: var(--c-white);
    font-size: 1.1rem;
}

/* DROPDOWN */
.btn-dropdown {
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    border-radius: 0.25rem;
    padding: .5rem;
    font-weight: var(--fw-semiBold);
    outline: none;
    cursor: pointer;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.dropdown__items {
    background-color: var(--c-white);
    list-style: none;
    width: 100%;
    margin-top: .5rem;
    position: absolute;
    top: 100%;
    border-radius: 0.25rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.dropdown__item {
    padding: .5rem .8rem;
}

.dropdown__item:not(:last-child) {
    border-bottom: 2px solid var(--c-gray);
}

.dropdown__link {
    font-weight: var(--fw-medium);
    color: var(--c-black);
}

/* btn-login */
.btn-login {
    background-color: var(--c-white);
    padding: .5rem;
    font-weight: var(--fw-medium);
    border-radius: 0.25rem;
    border: 1px solid var(--c-gray);
    color: var(--c-black);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

/* === HOME SECTION === */
#home {
    background-image: url(../img/bg-hero.png);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
}

.left {
    flex: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-pesan {
    width: fit-content;
    font-family: var(--ff-roboto);
    color: var(--c-white);
    font-weight: var(--fw-semiBold);
    text-transform: uppercase;
    background-color: var(--c-violet);
    padding: .5rem 2rem;
    border-radius: .25rem;
    border: 1px solid var(--c-gray);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.right {
    flex: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-banner {
    text-align: center;
    line-height: 1.3;
    font-family: var(--ff-montserrat);
    color: var(--c-white);
    font-weight: var(--fw-semiBold);
    font-size: 1.475rem;
    transform: translateX(-55px) translateY(-15px);
}

.text-banner-light {
    line-height: 1.5;
    font-weight: var(--fw-regular);
}

.peta {
    position: absolute;
    left: -10%;
    transform: scale(1.2) translateY(25px);
}

/* BARS */
.bars {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
    display: flex;
    width: 80vw;
    font-family: var(--ff-montserrat);
    border-radius: .35rem;
    overflow: hidden;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.bar {
    flex: 33%;
    text-align: center;
    padding: 1.25rem 0;
}

.bar:nth-child(2) {}

.bar i {
    margin-right: 5px;
}

.bar p {
    font-size: 1.375rem;
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}

/* === RENTAL SECTION === */
#rental {
    padding: 4rem 1.5rem;
}

.bg-card {
    background-color: #F4F4F4;
    border-radius: 1.15rem;
}

.bg-card:first-child {
    height: 350px;
    padding: 1.5rem;
    margin-bottom: 20px;
}

.bg-card:last-child {
    position: relative;
    height: 230px;
}

.cards {
    position: absolute;
    top: -80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.5rem;
    font-family: var(--ff-montserrat);
}

.card {
    flex: 20%;
    background-color: var(--c-violet);
    border: 1px solid var(--c-gray);
    border-radius: 1rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
    position: relative;
    min-height: 300px;
    display: flex;
    justify-content: center;
    width: 250px;
}

.card-bubble {
    position: absolute;
    top: -65%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
}


.card img {
    width: 200px;
    margin-bottom: 5px;
}

.card__title {
    color: var(--c-purple-text);
    font-weight: var(--fw-medium);
    text-align: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.card__list {
    list-style-position: inside;
    margin-top: 190px;
}

.card__btn {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    background-color: white;
    border-radius: .25rem;
    border: 1px solid var(--c-gray);
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .15));
    padding: .35rem 1rem;
    text-transform: uppercase;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-medium);
}

.icon-arrow {
    width: 45px;
    height: 45px;
    border: 1px solid var(--c-gray);
    border-radius: 50%;
    text-align: center;
    line-height: 52px;
    background-color: var(--c-white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: var(--z-frontWard);
    cursor: pointer;
}

.icon-arrow i {
    font-size: 1.5rem;
}

/* === PARTNER === */
#partner {
    padding: 2.5rem;
    background-color: #DFE6ED;
}

.partner__title {
    font-family: var(--ff-roboto);
    font-weight: var(--fw-medium);
    font-size: 1.895rem;
}

.partners {
    display: flex;
    margin: 2.5rem 0;
}

.partner__logo {
    transform: scale(.75);
}

/* === TESTIMONI === */
#testimoni {
    padding: 5rem;
    background-image: url(../img/bg-pelanggan.png);
    background-size: 65%;
    background-position: right center;
    background-repeat: no-repeat;
}

.testimonials {
    display: flex;
    gap: 1.5rem;
    margin: 2.5rem 0 4rem;
}

.testimoni {
    background-color: var(--c-violet);
    flex: 25%;
    height: 350px;
    border-radius: .35rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.testimoni__footer {
    text-align: center;
}

.btn-cs,
.btn-order {
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    text-transform: uppercase;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-semiBold);
}

.btn-cs {
    background-color: var(--c-white);
    border: 1px solid var(--c-violet);
    color: var(--c-violet);
    margin-left: -1rem;
    margin-right: 1rem;
}

.btn-order {
    background-color: var(--c-violet);
    border: 1px solid var(--c-gray);
    color: white;
}

/* === FOOTER === */
footer {
    background-color: #F7F9FA;
    border-top: 3px solid var(--c-gray);
}

.links {
    display: flex;
    justify-content: space-between;
    font-family: var(--ff-roboto);
    font-weight: var(--fw-medium);
    padding: 3.5rem 5rem;
}

.link__title {
    font-size: 1.785rem;
    font-weight: var(--fw-medium);
    margin-bottom: 1.5rem;
}

.link__lists {
    list-style: none;
    font-size: 1.185rem;
}

.link__list {
    margin-bottom: 20px;
}

.link__list a {
    color: var(--c-black);
    text-transform: uppercase;
}

.copyright {
    background-image: url(../img/bg-footer.png);
    background-color: #6736DD;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    text-align: center;
    padding: 30px 0;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-semiBold);
}


/* === REUSBALE CLASS === */
.title {
    text-align: center;
    color: var(--c-purple-text);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-semiBold);
    font-size: 2.15rem;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    font-family: var(--ff-roboto);
    font-size: 1.385rem;
    line-height: 1.5;
}

.bg-transparent {
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 62%;
}

/* === STATE === */
.hide {
    display: none;
}

.show {
    display: block;
}

/* === MODIFIER === */
.bg-purple {
    background-color: var(--c-purple);
}

.bg-violet {
    background-color: var(--c-violet);
}

.bg-gray {
    background-color: var(--c-gray);
}

.text-light {
    color: var(--c-white);
}

.text-dark {
    color: var(--c-black);
}

.arrow-left {
    left: 0;
    transform: translateX(-50%);
}

.arrow-right {
    right: 0;
    transform: translateX(50%);
}