$first-color: hsl(45, 93%, 58%);
$first-color-alt: hsl(45, 93%, 54%);
$second-color: hsl(8, 79%, 92%);
$second-color-alt: hsl(8, 79%, 88%);
$border-yellow: hsl(52, 86%, 95%);
$border-purple: hsl(258, 70%, 88%);
$white-color: hsl(0, 0%, 100%);

$title-color: hsl(252, 35%, 19%);
$text-color: hsl(240, 13%, 60%);