$header-height: 4rem;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    font-weight: map-get($font-weights, "regular");
    color: $text-color;
    font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
    font-weight: map-get($map: $font-weights, $key: "bold");
    color: $title-color;
}

h1,
h2 {
    font-size: var(--title-font-size);
}

h3 {
    font-size: var(--subtitle-font-size);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}