*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $main-font;
    font-weight: map-get($font-weights, "medium");
    color: $text-color;
    font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
    font-weight: map-get($map: $font-weights, $key: "bold");
    color: $first-color;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}