/* ==================== GOOGLE FONTS ===================== */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

$main-font: 'Quicksand',
sans-serif;

// FONT SIZE
:root {
    --title-font-size: 2rem;
    --medium-font-size: 1.5rem;
    --subtitle-font-size: 1.35rem;
    --normal-font-size: .938rem;
    --small-font-size: .825rem;
}

@media screen and (min-width: 1024px) {
    :root {
        --title-font-size: 2.85rem;
        --medium-font-size: 2rem;
        --subtitle-font-size: 1.785rem;
        --normal-font-size: 1.185rem;
        --small-font-size: 1rem;
    }
}

// FONT WEIGHT
$font-weights: ("regular": 400, "medium": 500, "semi-bold": 600, "bold": 700);