doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Foodyar
        |
        |
        // ==================== MAIN CSS =======================
        link(rel="stylesheet" href="assets/css/main.css")

    body
        // ==================== HEADER =========================
        include sections/header.pug

        // ==================== HOME ===========================
        include sections/home.pug

        // ==================== FEATURES =======================

        // ==================== SCRIPT JS ======================
        script(src="assets/js/main.js")