.border--red {
    border-color: $red-color;
}

.border--yellow {
    border-color: $yellow-color;
}

.border--green {
    border-color: $green-color;
}

.border--blue {
    border-color: $blue-color;
}