.header {
    width: 100%;
    position: fixed;
    z-index: map-get($map: $z-indexes, $key: "fixed");
    padding-block: 1.5rem;
    transition: .3s;
    top: 0;

    &.scroll-header {
        box-shadow: 0 1px 5px rgba($color: $main-color, $alpha: .2);
        background-color: $white-color;
        padding-block: .85rem;

        .nav {
            align-items: center;
        }

        .nav__logo {
            max-width: 65px;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;

        &__logo {
            max-width: 100px;
            transition: .3s;
        }

        &__list {
            display: flex;
            column-gap: 2.5rem;
        }

        &__link {
            color: $text-color;
            transition: .3s;
            font-size: var(--navLink-font-size);

            &.active,
            &:hover {
                color: $main-color;
            }
        }
    }
}