.header {
    width: 100%;
    position: fixed;
    z-index: map-get($map: $z-indexes, $key: "fixed");
    padding-block: 1.5rem;
    transition: .3s;
    top: 0;

    &.scroll-header {
        box-shadow: 0 1px 5px rgba($color: $main-color, $alpha: .2);
        background-color: $white-color;
        padding-block: .85rem;

        .nav {
            align-items: center;

            @include breakpoints-down("medium") {
                &__menu {
                    top: 4.5rem !important;
                }
            }
        }

        .nav__logo {
            max-width: 65px;
        }
    }

    .nav {
        display: flex;
        justify-content: space-between;

        &__logo {
            max-width: 100px;
            transition: .3s;
        }

        &__list {
            display: flex;
            column-gap: 2.5rem;
        }

        &__link {
            color: $text-color;
            transition: .3s;
            font-size: var(--navLink-font-size);

            &.active,
            &:hover {
                color: $main-color;
            }
        }

        &__toggle {
            display: none;
        }

        @include breakpoints-down("medium") {
            &__menu {
                position: fixed;
                top: 7.5rem;
                left: 0;
                z-index: map-get($map: $z-indexes, $key: "fixed");
                transition: .3s;
                width: 100%;
                background-color: $white-color;
                padding-block: 1rem;
                box-shadow: 0 4px 5px rgba($color: $main-color, $alpha: .2);
                border-radius: 0 0 2.5rem 2.5rem;
                transform: scaleY(0);
                transform-origin: top;

                &.active-menu {
                    transform: scaleY(1);
                    transform-origin: bottom;
                }
            }

            &__list {
                flex-direction: column;
                text-align: center;
                row-gap: 1.5rem;
            }

            &__toggle {
                display: inline;
                width: 35px;
                height: 35px;
                border-radius: .25rem;
                font-size: 2.15rem;
                align-self: center;
                box-shadow: 0 1px 10px rgba($color: $main-color, $alpha: .15);
                cursor: pointer;
            }
        }
    }
}