section#contest.contest
    .container
        .contest__img
            img(src="assets/images/banner2.avif" alt="")

        .contest__text 
            h2.contest__title 
                span.highlight Download
                |
                | our app <br> and join the 
                |
                span.highlight contest
            p.contest__desc In order to improve our cooking skills, <br> we do need a food photography 
            .contest__btns 
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="Download On Appstore")
                    img(src="assets/images/ios.avif")
                a(href="#" target="_blank" rel="noopener noreferrer" aria-label="Download On Playstore")
                    img(src="assets/images/android.avif")



