include ../var/var.pug
include ../component/card.pug

section#features.features 
    .container
        .features__head
            span.features__subtitle Watch Now
            h3.features__title Special to Try
            .features__tabs(role="tablist" aria-label="features category")
                each text, i in tabs
                    button.features__tab(id="features-tab" + (i+1) role="tab" aria-controls="content-" + (i+1) )=text
        .features__content 
            each tab,i in tabs
                .features__card(id="content-" + (i+1) aria-labelledby= tab role="tabcontent")
                    each content, ii in contents
                        if content.tab == tab
                            +card(content.name, content.creator,(ii+1))