section#home.home
    .container
        .home__text 
            h1.home__title 
                span.highlight Eat
                | 
                | What You Cook <br> With Us, 
                span.highlight Together!
            p.home__desc When you eat something that cooked by <br> yourself, the happiness is priceless.
            button.home__btn Decide a Menu

        .home__img
            .play 
                img(src="assets/images/play.svg" alt="" aria-hidden="true")
            img(src="assets/images/banner1.avif" alt="video pembukaan")