.about {
    text-align: center;

    &__desc {
        line-height: 2;
        max-width: 80vw;
        margin: 0 auto 2.5rem;

        br {
            display: block;
            content: "";
            margin-top: .5rem;
        }
    }

    &__img {
        max-width: 450px;

        @include breakpoints-down("medium") {
            & {
                width: 75%;
            }
        }
    }
}