.contact {
    text-align: center;
    position: relative;

    &__list {
        margin-bottom: 3.5rem;
    }

    &__item {
        margin-bottom: .85rem;
    }

    &__cards {
        display: grid;
        row-gap: 2rem;
        margin-bottom: 6.5rem;
        position: relative;
    }

    &__card {
        display: flex;
        align-items: center;
        column-gap: 2.5rem;

        &:nth-child(even) {
            justify-self: flex-end;
            flex-direction: row-reverse;
        }

        &-image {
            max-width: 150px;
            filter: drop-shadow(4px 4px 10px rgba($text-color, .9));
        }

        &-list {
            display: table;
        }

        &-item {
            text-align: left;
            display: table-row;

            .break {
                display: table-cell;
                padding-inline: 2.5rem .5rem;
                padding-block: .5rem;
            }
        }
    }

    .blob {
        position: absolute;
        max-width: 450px;
        z-index: map-get($map: $z-indexes, $key: "back");
        transform: translateY(-10%);


        &:nth-child(odd) {
            left: 0;
        }

        &:nth-child(even) {
            right: 0;
        }

        &-1 {
            top: 10%;
        }

        &-2 {
            top: 30%;
        }

        &-3 {
            top: 50%;
        }

        &-4 {
            top: 65%;
        }

        &-5 {
            top: 80%;
        }


        &-6 {
            top: 95%;
        }
    }
}