/* ==================== HOME 1 ===================== */
.home1 {
    padding-bottom: 6rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: var(--title-font-size);
        margin-bottom: .5rem;
    }

    &__desc {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    &__image {
        max-width: 580px;
    }
}

/* ==================== HOME 2 ===================== */
.home2 {
    text-align: center;
    padding-block: 4.5rem 5.5rem;

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .highlight {
        color: $main-color;
        font-weight: map-get($map: $font-weights, $key: "bold");

    }

    &__image {
        max-width: 430px;
    }

    &__desc {
        line-height: 1.65;
        margin-bottom: 2.25rem;
    }
}

/* ==================== HOME 3 ===================== */
.home3 {
    text-align: center;
    padding-block: 4.5rem 5.5rem;

    &__teams {
        margin-block: 2.5rem 4.5rem;
        padding-block: .5rem;
    }

    &__card {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(4px 4px 10px rgba($text-color, .9));
    }

    .swiper-button-next,
    .swiper-button-prev {

        color: $main-color;
        font-size: 3rem;

        &::after {
            display: none;
        }
    }
}