.product {
    text-align: center;

    &1 {
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8.5rem;

        &__img {
            max-width: 280px;
        }

        &__table {
            border-collapse: collapse;
            font-size: var(--small-font-size);
            border-radius: .5rem;
            overflow: hidden;
            box-shadow: 0 2px 5px rgba($color: $text-color, $alpha: .15);

            th {
                background-color: $main-color;
                color: $white-color;
            }

            tr {
                background-color: hsl(19, 100%, 97%);

                &:not(:last-child) {
                    border-bottom: 1px solid hsla(38, 100%, 62%, .5);

                }

                td:nth-child(odd) {
                    border-right: 1px solid hsla(38, 100%, 62%, .5);
                }
            }

            th,
            td {
                padding: .85rem 3.5rem;

                @include breakpoints-down('small') {
                    & {
                        padding: .5rem 2rem;
                    }
                }
            }
        }

        @include breakpoints-down("tablet") {
            & {
                column-gap: 3.5rem;

                &__img {
                    max-width: 230px;
                }
            }
        }

        @include breakpoints-down("medium") {
            & {
                flex-direction: column;
                row-gap: 2.5rem;
            }
        }
    }

    &2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1.5rem;

        &__img {
            max-width: 450px;
        }

        &__list {
            text-align: left;
            max-width: 28ch;
        }

        &__item {
            margin-bottom: 1.5rem;
            line-height: 1.5;
        }

        @include breakpoints-down("tablet") {
            &__img {
                max-width: 300px;
            }
        }

        @include breakpoints-down("very-small") {
            &__img {
                max-width: 250px;
            }
        }

        @include breakpoints-down("medium") {
            & {
                flex-direction: column;
                row-gap: 3.5rem;
            }

            &__list {
                text-align: center;
                max-width: 70%;
                margin-inline: auto;
            }
        }
    }
}