block data 
    - var baseURL = "http://localhost:8080/"
    - var navLinks = [{text: "Tracking", link: "tracking.html"}, {text:"Tentang", link: "about.html"}]
    - var services = [{title:"Estimasi Pengiriman", desc: "Menjanjikan estimasi pengiriman yang cepat",color: "red"},{title: "Harga Kompetitif", desc: "Memberikan harga yang kompetitif bagi anda",color: "yellow"},{title: "Layanan chat", desc: "Selalu siaga dalam menjawab pertanyaan anda",color: "green"},{title: "Area Pengiriman", desc: "Ekspor & Impor dengan efisien ke berbagai daerah",color: "blue"}]
    - var teams = [{name: "Wempie", job: "Kepala Exim"}, {name: "Irwan Wijaya",job: "Direktur"}, {name: "Mince Mustamu",job: "Dinas luar Exim"}, {name: "Kamalia",job: "Bagian Lapangan"}, {name: "Budi Setiawan Wijaya",job: "Dinas luar Exims"}, {name: "Zaeful Fahmi",job: "Dinas luar"}]