block data

header.header#header
    nav.container.nav 
        a.nav__logo(href=baseURL + "index.html") 
            img(src=baseURL + "assets/img/logo.png" alt="PT GHALIB AGRO NABATI")
        .nav__menu#nav-menu 
            ul.nav__list
                each link in links 
                    li.nav__item 
                        a.nav__link(href=baseURL + "pages/" + link.page)=link.text
        .nav__toggle#nav-toggle 
            i.bx.bx-menu