extends ../partials/layout.pug

block title 
    - var title = "Tentang Kami"

block content
    section.about 
        .container 
            .about__image 
                img(src=baseURL + "assets/img/banner2.png" alt="")
            .about__info 
                h1.about__title  PT. Bahtera Karunia Mandiri
                p.about__desc Kami adalah perusahaaan berbasis Pengusaha Pengurusan Jasa Kepabeanan (PPJK) yang merupakan badan usaha yang melakukan kegiatan pengurusan kewajiban pabean untuk dan atas kegiatan Importir atau Eksportir dan telah terdaftar secara resmi dalam Direktorat Jenderal Bea dan Cukai (DJBC).
                p.about__desc PT. Bahtera Karunia Mandiri didirikan pada tahun 2011 berdasarkan akte pendirian tanggal 7 Desember 2011 dan perubahan akte pada tanggal 3 Mei 2012.
