include ../component/logo.pug

header.header
    nav.nav.container 
        +logo
        .nav__menu 
            ul.nav__list 
                each link in ['home', 'beverages', 'chef', 'ingredient', 'stories']
                    li.nav__item 
                        a(href="#" + link).nav__link=link
            .nav__toggle 
                i.bx.bx-menu
            button.nav__btn My Kitchen

