extends ../partials/layout.pug

block title 
    - var title = "TENTANG KAMI"

block content
    section.about
        .container
            h1.section-title TENTANG KAMI
            p.about__desc Kami adalah Distributor utama dari produk Minyak Goreng Kemasan Premium ALIF yang di produksi langsung oleh PT Sime Darby Oils Pulau Laut Refenery untuk Indonesia wilayah Timur. PT Ghalib Agro Nabati sejak November 2021 telah mendistribusikan Minyak Goreng Kemasan Premium ALIF  di wilayah Sulawesi Selatan seperti Makassar, Pare Pare, Soppeng,  Sidrap, Takalar, Wajo sampai dengan Palopo. <br> Dengan berjalannya waktu kami PT Ghalib Agro Nabati  semakin berkembang dan mendistribusikan  serta memasarkan lebih banyak daerah di Indonesia Timur seperti  Timika, Lombok, Kendari, dan Maluku, Solo, Jogjakarta dan Jakarta. Prinsip usaha kami adalah 
                span.highlight “BERSAMA MENCARI BERKAH” 
                | akan selalu menjadi  pedoman kami dalam berbisnis sehingga janganlah ragu berkerja sama dengan kami
            img.about__img(src=baseURL + "assets/img/about.png" alt="" aria-hidden="true" loading="lazy")