$main-color: hsl(247, 74%, 64%);
$second-color: hsl(207, 100%, 89%);
$body-color: hsl(220, 100%, 98%);

$text-color: hsl(0, 0%, 25%);
$gray-color: hsl(0, 0%, 75%);
$white-color: hsl(0, 0%, 98%);

$red-color: hsl(3, 73%, 59%);
$green-color: hsl(120, 75%, 40%);
$blue-color: hsl(227, 80%, 55%);
$yellow-color: hsl(37, 99%, 61%);

// $scroll-color: hsl(141, 38%, 90%);
// $scroll-thumb-color: hsl(141, 38%, 35%);
// $scroll-thumb-hover-color: hsl(141, 38%, 40%);