/* ==================== FONTS ===================== */
@font-face {
  src: url("../fonts/Product-Sans-Regular.ttf") format("truetype");
  font-family: "Product-Sans";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Product-Sans-Bold.ttf") format("truetype");
  font-family: "Product-Sans";
  font-weight: 700;
}
:root {
  --title-font-size: 2rem;
  --subtitle-font-size: 1.5rem;
  --normal-font-size: 1.185rem;
  --navLink-font-size: 1.125rem;
  --small-font-size: .785rem;
  --smaller-font-size: .585rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 2.5rem;
    --subtitle-font-size: 2rem;
    --normal-font-size: 1.315rem;
    --navLink-font-size: 1.215rem;
    --small-font-size: .985rem;
    --smaller-font-size: .785rem;
  }
}
@media screen and (max-width: 568px) {
  :root {
    --title-font-size: 1.675rem;
    --subtitle-font-size: 1.325rem;
    --navLink-font-size: 1.15rem;
    --normal-font-size: 1.015rem;
    --small-font-size: .835rem;
  }
}
@media screen and (max-width: 375px) {
  :root {
    --title-font-size: 1.475rem;
    --navLink-font-size: 1.015rem;
    --normal-font-size: .985rem;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --title-font-size: 1.325rem;
    --subtitle-font-size: 1.285rem;
    --navLink-font-size: 1rem;
    --normal-font-size: .925rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Product-Sans", sans-serif;
  font-weight: 400;
  font-size: var(--normal-font-size);
  color: hsl(0deg, 0%, 5%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==================== REUSABLE CLASS ===================== */
.section-title {
  margin-bottom: 2.5rem;
  font-size: var(--subtitle-font-size);
}
.section-title br {
  display: none;
}
@media screen and (max-width: 568px) {
  .section-title {
    padding-top: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .section-title {
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  .section-title br {
    display: initial;
  }
}

/* ==================== SCROLL BAR ===================== */
::-webkit-scrollbar {
  width: 0.8rem;
  border-radius: 0.5rem;
  background-color: hsl(141deg, 38%, 90%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(141deg, 38%, 35%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(141deg, 38%, 40%);
}

.btn {
  background-color: hsl(141deg, 38%, 40%);
  color: hsl(0deg, 0%, 100%);
  padding: 0.8rem 1rem;
  border-radius: 2.5rem;
  font-size: var(--small-font-size);
  box-shadow: 0 4px 10px rgba(63, 141, 90, 0.35);
}

.scrollup {
  position: fixed;
  z-index: 100;
  right: 2.5rem;
  bottom: -100%;
  width: 35px;
  height: 35px;
  border-radius: 0.25rem;
  background-color: hsl(141deg, 38%, 40%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.scrollup:hover {
  transform: translateY(-8px);
}
.scrollup.active-scrollup {
  bottom: 2.5rem;
}

.highlight {
  color: hsl(141deg, 38%, 40%);
  font-weight: 700;
}
@media screen and (max-width: 375px) {
  .highlight {
    display: inline-block;
  }
}

.container {
  max-width: 1148px;
  margin-inline: auto;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-inline: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin-inline: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding-block: 1.5rem;
  transition: 0.3s;
  top: 0;
}
.header.scroll-header {
  box-shadow: 0 1px 5px rgba(63, 141, 90, 0.2);
  background-color: hsl(0deg, 0%, 100%);
  padding-block: 0.85rem;
}
.header.scroll-header .nav {
  align-items: center;
}
@media screen and (max-width: 568px) {
  .header.scroll-header .nav__menu {
    top: 4.5rem !important;
  }
}
.header.scroll-header .nav__logo {
  max-width: 65px;
}
@media screen and (max-width: 375px) {
  .header.scroll-header .nav__logo {
    max-width: 55px;
  }
}
.header .nav {
  display: flex;
  justify-content: space-between;
}
.header .nav__logo {
  max-width: 100px;
  transition: 0.3s;
}
@media screen and (max-width: 375px) {
  .header .nav__logo {
    max-width: 75px;
  }
}
.header .nav__list {
  display: flex;
  column-gap: 2.5rem;
}
.header .nav__link {
  color: hsl(0deg, 0%, 5%);
  transition: 0.3s;
  font-size: var(--navLink-font-size);
}
.header .nav__link.active, .header .nav__link:hover {
  color: hsl(141deg, 38%, 40%);
}
.header .nav__toggle {
  display: none;
}
@media screen and (max-width: 568px) {
  .header .nav__menu {
    position: fixed;
    top: 7.5rem;
    left: 0;
    z-index: 100;
    transition: 0.3s;
    width: 100%;
    background-color: hsl(0deg, 0%, 100%);
    padding-block: 1rem;
    box-shadow: 0 4px 5px rgba(63, 141, 90, 0.2);
    border-radius: 0 0 2.5rem 2.5rem;
    transform: scaleY(0);
    transform-origin: top;
  }
  .header .nav__menu.active-menu {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  .header .nav__list {
    flex-direction: column;
    text-align: center;
    row-gap: 1.5rem;
  }
  .header .nav__toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 0.25rem;
    font-size: 2.15rem;
    align-self: center;
    box-shadow: 0 1px 10px rgba(63, 141, 90, 0.15);
    cursor: pointer;
  }
}
@media screen and (max-width: 568px) and (max-width: 375px) {
  .header .nav__toggle {
    font-size: 1.65rem;
  }
}

main {
  margin-top: 8rem;
}
@media screen and (max-width: 375px) {
  main {
    margin-top: 5rem;
    overflow: hidden;
  }
}

.footer {
  margin-top: 4.5rem;
}
.footer .footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsl(0deg, 0%, 60%);
}
@media screen and (max-width: 375px) {
  .footer .footer__top {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}
.footer__logo {
  max-width: 100px;
}
.footer__socials {
  display: flex;
  column-gap: 1.5rem;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    column-gap: 1rem;
  }
}
.footer__social {
  background-color: hsl(141deg, 38%, 40%);
  font-size: 1.25rem;
  width: 30px;
  height: 30px;
}
.footer__social i {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(141deg, 38%, 40%);
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .footer__social {
    width: 20px;
    height: 20px;
    font-size: 0.85rem;
  }
}
.footer__maps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
  justify-content: space-between;
  text-align: center;
  padding-block: 3.5rem;
}
@media screen and (max-width: 768px) {
  .footer__maps {
    column-gap: 1.5rem;
  }
}
@media screen and (max-width: 568px) {
  .footer__maps {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .footer__maps {
    padding-block: 2.5rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__image {
  border-radius: 2.5rem;
  overflow: hidden;
}
.footer__image-link img {
  transition: 0.3s;
}
.footer__image:hover .footer__image-link img {
  transform: scale(1.2);
}
@media screen and (max-width: 375px) {
  .footer__image {
    max-width: 200px;
    margin-inline: auto;
  }
}
.footer__location {
  font-size: var(--small-font-size);
  margin-top: 1rem;
}
.footer__copy {
  font-size: var(--smaller-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.15rem;
  padding-bottom: 0.5rem;
}

/* ==================== HOME 1 ===================== */
.home1 {
  padding-bottom: 6rem;
}
.home1 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home1__title {
  font-size: var(--title-font-size);
  margin-bottom: 0.5rem;
}
.home1__desc {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.home1__image {
  max-width: 580px;
}
@media screen and (max-width: 1024px) {
  .home1__image {
    max-width: 480px;
  }
}
@media screen and (max-width: 768px) {
  .home1 {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
  }
  .home1 .container {
    flex-direction: column;
    text-align: center;
    row-gap: 3.5rem;
  }
}

/* ==================== HOME 2 ===================== */
.home2 {
  text-align: center;
  padding-block: 4.5rem 5.5rem;
}
.home2 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home2__image {
  max-width: 430px;
}
@media screen and (max-width: 1024px) {
  .home2__image {
    max-width: 400px;
  }
}
.home2__desc {
  line-height: 1.65;
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .home2 {
    padding-block: 2.5rem 3.5rem;
  }
  .home2 .container {
    flex-direction: column;
    text-align: center;
    row-gap: 3.5rem;
  }
}

/* ==================== HOME 3 ===================== */
.home3 {
  text-align: center;
  padding-block: 4.5rem 5.5rem;
}
.home3__title {
  text-transform: capitalize;
}
@media screen and (max-width: 568px) {
  .home3__title {
    max-width: 25ch;
    margin-inline: auto;
    line-height: 1.6;
  }
}
.home3__teams {
  margin-block: 2.5rem 4.5rem;
  padding-block: 0.5rem;
}
.home3__card {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(4px 4px 10px rgba(13, 13, 13, 0.9));
}
.home3 .swiper-button-next,
.home3 .swiper-button-prev {
  color: hsl(141deg, 38%, 40%);
  font-size: 3rem;
}
.home3 .swiper-button-next::after,
.home3 .swiper-button-prev::after {
  display: none;
}

.about {
  text-align: center;
}
.about__desc {
  line-height: 2;
  max-width: 80vw;
  margin: 0 auto 2.5rem;
}
.about__desc br {
  display: block;
  content: "";
  margin-top: 0.5rem;
}
.about__img {
  max-width: 450px;
}
@media screen and (max-width: 568px) {
  .about__img {
    width: 75%;
  }
}

.armada {
  text-align: center;
}
.armada__images {
  grid-template-columns: repeat(2, 500px);
  margin-bottom: 4.5rem;
}
@media screen and (max-width: 1024px) {
  .armada__images {
    grid-template-columns: repeat(2, 400px);
  }
}
.armada .gudang__images {
  grid-template-columns: repeat(2, 400px);
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .armada .gudang__images {
    grid-template-columns: repeat(2, 300px);
  }
}
.armada__images,
.armada .gudang__images {
  display: grid;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.armada__images img,
.armada .gudang__images img {
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(13, 13, 13, 0.5);
}
@media screen and (max-width: 768px) {
  .armada__images,
  .armada .gudang__images {
    grid-template-columns: repeat(2, 300px);
  }
}
@media screen and (max-width: 568px) {
  .armada__images,
  .armada .gudang__images {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product {
  text-align: center;
}
.product1 {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8.5rem;
}
.product1__img {
  max-width: 280px;
}
.product1__table {
  border-collapse: collapse;
  font-size: var(--small-font-size);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(13, 13, 13, 0.15);
}
.product1__table th {
  background-color: hsl(141deg, 38%, 40%);
  color: hsl(0deg, 0%, 100%);
}
.product1__table tr {
  background-color: hsl(19deg, 100%, 97%);
}
.product1__table tr:not(:last-child) {
  border-bottom: 1px solid hsla(38deg, 100%, 62%, 0.5);
}
.product1__table tr td:nth-child(odd) {
  border-right: 1px solid hsla(38deg, 100%, 62%, 0.5);
}
.product1__table th,
.product1__table td {
  padding: 0.85rem 3.5rem;
}
@media screen and (max-width: 375px) {
  .product1__table th,
  .product1__table td {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 768px) {
  .product1 {
    column-gap: 3.5rem;
  }
  .product1__img {
    max-width: 230px;
  }
}
@media screen and (max-width: 568px) {
  .product1 {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}
.product2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.5rem;
}
.product2__img {
  max-width: 450px;
}
.product2__list {
  text-align: left;
  max-width: 28ch;
}
.product2__item {
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .product2__img {
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .product2__img {
    max-width: 250px;
  }
}
@media screen and (max-width: 568px) {
  .product2 {
    flex-direction: column;
    row-gap: 3.5rem;
  }
  .product2__list {
    text-align: center;
    max-width: 70%;
    margin-inline: auto;
  }
}

.contact {
  text-align: center;
  position: relative;
}
.contact__list {
  margin-bottom: 3.5rem;
}
.contact__item {
  margin-bottom: 0.85rem;
}
.contact__cards {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 6.5rem;
  position: relative;
}
@media screen and (max-width: 568px) {
  .contact__cards {
    row-gap: 3.5rem;
  }
}
.contact__card {
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
}
.contact__card:nth-child(even) {
  justify-self: flex-end;
  flex-direction: row-reverse;
}
.contact__card-image {
  max-width: 150px;
  filter: drop-shadow(4px 4px 10px rgba(13, 13, 13, 0.9));
}
.contact__card-list {
  display: table;
}
.contact__card-item {
  text-align: left;
  display: table-row;
}
.contact__card-item .break {
  display: table-cell;
  padding-inline: 2.5rem 0.5rem;
  padding-block: 0.5rem;
}
@media screen and (max-width: 568px) {
  .contact__card {
    flex-direction: column;
    width: 100%;
    row-gap: 1.5rem;
  }
  .contact__card-info {
    width: 90%;
  }
  .contact__card:nth-child(even) {
    flex-direction: column;
  }
  .contact__card-item {
    line-height: 1.5;
  }
}
.contact .blob {
  position: absolute;
  max-width: 450px;
  z-index: -1;
  transform: translateY(-10%);
}
@media screen and (max-width: 768px) {
  .contact .blob {
    max-width: 370px;
  }
}
.contact .blob:nth-child(odd) {
  left: 0;
}
.contact .blob:nth-child(even) {
  right: 0;
}
.contact .blob-1 {
  top: 8%;
}
.contact .blob-2 {
  top: 25%;
}
.contact .blob-3 {
  top: 45%;
}
.contact .blob-4 {
  top: 60%;
}
.contact .blob-5 {
  top: 75%;
}
.contact .blob-6 {
  top: 90%;
}

/*# sourceMappingURL=main.css.map */
