block data 
    - var links = [{text: "Tentang", page: "tentang.html" }, {text: "Produk", page: "produk.html"}, {text: "Armada & Gudang", page: "armada.html"}, {text: "Kontak", page: "Kontak.html"}]
    - var medsos = [{icon:"facebook", link: "https://www.facebook.com/"}, {icon: "twitter",link: "https://twitter.com/"}, {icon: "behance", link: "https://www.behance.net/"}, {icon: "youtube", link: "https://www.youtube.com/"}, {icon: "linkedin", link: "https://www.linkedin.com/"}]
