block data 
    - var links = [{text: "Tentang", page: "tentang.html" }, {text: "Produk", page: "produk.html"}, {text: "Armada & Gudang", page: "armada.html"}, {text: "Kontak", page: "Kontak.html"}]
    - var medsos = [{icon:"facebook", link: "https://www.facebook.com/"}, {icon: "twitter",link: "https://twitter.com/"}, {icon: "behance", link: "https://www.behance.net/"}, {icon: "youtube", link: "https://www.youtube.com/"}, {icon: "linkedin", link: "https://www.linkedin.com/"}]
    - var maps = [{link: "https://goo.gl/maps/wrUF1eipQnAEzTHS6", loc: "Royal Residence Blok A-2 <br> Jl. Pulo Gebang Raya Jakarta Timur"}, {link: "https://goo.gl/maps/EVUgRoyGadJ7dd8C6", loc: "Tallasa City, Cluster Natura G-17 <br> Makassar, Sulawesi Selatan"}, {link: "https://goo.gl/maps/33mqn9WnEDaRdd3Z7", loc: "Jl Kebun Sayur Utara 58 <br> Pare Pare Sulawesi Selatan"}, {link: "https://goo.gl/maps/vAucmn7Yqve9jN4Q8", loc: "Kalebentang – Galesong Selatan <br> Takalar, Sulawesi Selatan"}]
